.index-jumbotron {
  text-align: center;
}
.sub-header {
  opacity: 0.6;
}

.grid-container { 
  border-bottom: 1px solid $green; 
  padding-bottom: 30px;
}
 .cards-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 350px; 
  grid-gap: 30px;
  margin-left: 100px; 
  margin-right: 100px;
} 

.cocktail-card {
  position: relative;
  background-color:white;
  text-align: center;
  opacity: 0.9;
  border: 1px solid $green; 
  box-shadow: 4px 4px 5px 0px rgba(37, 58, 37, 0.2);
  // font-size: 12px;
}

#card-heading {
  opacity: 0.8;
  color: $green;
  font-weight: normal;
}

.grid-image {
    width: 250px;
    height: 250px; 
    background-color: white;
}

.card-button {
  margin: 0 auto; 
  margin-top: 10px;
}
.card-delete {
  position: absolute;
  top: 4px;
  right: 10px;
}

.center-within {
  // margin: 0 auto;
  text-align: center; 
}

